version: '3'
services:
  frontend:
    build: ./frontend/tiny-library
    ports:
      - "80:80"
  backend:
    build: ./backend
    ports:
      - "8080:80"
  postgres:
      image: postgres:latest
      expose:
        - "5432"
      volumes:
          - ./db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d/

