version: '3'
services:
  gateway:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on: 
      - backend
      - frontend
  frontend:
    build: ./frontend/tiny-library
    expose:
      - "80"
    depends_on: 
      - backend
  backend:
    build: ./backend
    expose:
      - "8080"
    depends_on:
      - db
    environment: 
      - DATABASE_URL=postgresql://tinylibrary:password@db:5432/tinylibrary
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    expose:
      - "5432"
    volumes:
        - ./db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d/

